@model WorkFlowManager.Models.Vehicle[]

@{
    ViewData["Title"] = "Fleet Management";
}

<h1>FLEET MANAGEMENT</h1>
<a class="btn btn-default" href="~/views/vehicle/create.cshtml">New Vehicle</a>
@foreach (var vehicle in Model)
{
    @Html.Partial("_Vehicle", vehicle)

}