@{
    ViewData["Title"] = "Inventory";
}

<h1>Business Managment</h1>
<a asp-controller="Equipment" asp-action="Index">Equipment</a>
<br />
<a asp-controller="Part" asp-action="Index">Parts</a>
<br />
<a asp-controller="Material" asp-action="Index">Materials</a>