@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div class="row dashboard">
    <div class="col-md-4">
        <h3>Today's Jobs</h3>
        <p>A Paragraph representing data to come. A placeholder. A Paragraph representing data to come. A placeholder. A Paragraph representing data to come. A placeholder. A Paragraph representing data to come. A placeholder. </p>
    </div>
    <div class="col-md-4">
        <h3>Inventory</h3>
        <p>A Paragraph representing data to come. A placeholder. A Paragraph representing data to come. A placeholder. A Paragraph representing data to come. A placeholder. A Paragraph representing data to come. A placeholder. </p>
    </div>
    <div class="col-md-4">
        <h3>Fleet Maint.</h3>
        <p>A Paragraph representing data to come. A placeholder. A Paragraph representing data to come. A placeholder. A Paragraph representing data to come. A placeholder. A Paragraph representing data to come. A placeholder. </p>
    </div>
</div>
<div class="row dashboard">
    <div class="col-md-6">
        <h3>Module Name</h3>
        <p>A Paragraph representing data to come. A placeholder. A Paragraph representing data to come. A placeholder. A Paragraph representing data to come. A placeholder. A Paragraph representing data to come. A placeholder. </p>
    </div>
    <div class="col-md-6">
        <h3>Module Name</h3>
        <p>A Paragraph representing data to come. A placeholder. A Paragraph representing data to come. A placeholder. A Paragraph representing data to come. A placeholder. A Paragraph representing data to come. A placeholder. </p>
    </div>
</div>