@{
    ViewData["Title"] = "Tech Support";
}
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Tech Support:</strong> <a href="mailto:team@bitrivet.solutions">team@bitrivet.solutions</a><br />
</address>
