@model WorkFlowManager.Models.Vehicle[]

@{
    ViewData["Title"] = "Fleet Management";
}

<h1>FLEET MANAGEMENT</h1>
<a asp-controller="Vehicle" asp-action="Create">New Vehicle</a>


@*@foreach (var vehicle in Model)
{
    @Html.Partial("_Vehicle", vehicle)

}*@